.e140_150 { 
	overflow:hidden;
}
.e140_150 { 
	background-color:rgba(255, 255, 255, 1);
	width:1500px;
	height:2183px;
	position:absolute;
}
.e140_151 { 
	background-color:rgba(255, 255, 255, 1);
	width:1400px;
	height:2070px;
	position:absolute;
	left:50px;
	top:87px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e140_152 { 
	width:1215px;
	height:822px;
	position:absolute;
	left:123px;
	top:1170px;
}
.e140_153 { 
	color:rgba(0, 0, 0, 1);
	width:254px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Open Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e140_154 { 
	color:rgba(0, 0, 0, 1);
	width:254px;
	height:43px;
	position:absolute;
	left:0px;
	top:88px;
	font-family:Open Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e140_155 { 
	color:rgba(0, 0, 0, 1);
	width:254px;
	height:43px;
	position:absolute;
	left:0px;
	top:261px;
	font-family:Open Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e140_156 { 
	color:rgba(0, 0, 0, 1);
	width:358px;
	height:43px;
	position:absolute;
	left:0px;
	top:434px;
	font-family:Open Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e140_157 { 
	color:rgba(0, 0, 0, 1);
	width:254px;
	height:43px;
	position:absolute;
	left:755px;
	top:88px;
	font-family:Open Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e140_158 { 
	background-color:rgba(255, 255, 255, 1);
	width:460px;
	height:60px;
	position:absolute;
	left:0px;
	top:304px;
}
.e140_158 { 
	border:3px solid rgba(192.31249898672104, 192.31249898672104, 192.31249898672104, 1);
}
.e140_159 { 
	background-color:rgba(255, 255, 255, 1);
	width:1215px;
	height:231px;
	position:absolute;
	left:0px;
	top:477px;
}
.e140_159 { 
	border:3px solid rgba(192.31249898672104, 192.31249898672104, 192.31249898672104, 1);
}
.e140_160 { 
	background-color:rgba(255, 254.3625310063362, 254.3625310063362, 1);
	width:460px;
	height:60px;
	position:absolute;
	left:755px;
	top:131px;
}
.e140_160 { 
	border:3px solid rgba(192.31249898672104, 192.31249898672104, 192.31249898672104, 1);
}
.e140_161 { 
	background-color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:206px;
	height:60px;
	position:absolute;
	left:1009px;
	top:762px;
}
.e140_161 { 
	border:3px solid rgba(192.31249898672104, 192.31249898672104, 192.31249898672104, 1);
}
.e140_162 { 
	color:rgba(255, 255, 255, 1);
	width:122px;
	height:43px;
	position:absolute;
	left:1051px;
	top:770px;
	font-family:Open Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e140_163 { 
	background-color:rgba(255, 254.3625310063362, 254.3625310063362, 1);
	width:460px;
	height:60px;
	position:absolute;
	left:0px;
	top:131px;
}
.e140_163 { 
	border:3px solid rgba(192.31249898672104, 192.31249898672104, 192.31249898672104, 1);
}
.e140_164 { 
	color:rgba(165.00000536441803, 178.00000458955765, 194.00000363588333, 1);
	width:281px;
	height:23px;
	position:absolute;
	left:785px;
	top:149px;
	font-family:Dosis;
	text-align:left;
	font-size:20px;
	letter-spacing:5;
}
.e140_165 { 
	color:rgba(165.00000536441803, 178.00000458955765, 194.00000363588333, 1);
	width:281px;
	height:23px;
	position:absolute;
	left:61px;
	top:319px;
	font-family:Dosis;
	text-align:left;
	font-size:20px;
	letter-spacing:5;
}
.e140_166 { 
	color:rgba(165.00000536441803, 178.00000458955765, 194.00000363588333, 1);
	width:281px;
	height:23px;
	position:absolute;
	left:25px;
	top:151px;
	font-family:Dosis;
	text-align:left;
	font-size:20px;
	letter-spacing:5;
}
.e140_167 { 
	color:rgba(165.00000536441803, 178.00000458955765, 194.00000363588333, 1);
	width:281px;
	height:23px;
	position:absolute;
	left:25px;
	top:504px;
	font-family:Dosis;
	text-align:left;
	font-size:20px;
	letter-spacing:5;
}
.e140_168 { 
	width:10px;
	height:14.908759117126465px;
	position:absolute;
	left:37px;
	top:328.0231018066406px;
	background-image:url(images/sort_down.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_169 { 
	width:25px;
	height:29.81751823425293px;
	position:absolute;
	left:12px;
	top:320.07177734375px;
	background-image:url(images/flag.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_170 { 
	transform: rotate(90.00000250447808deg);
	width:58px;
	height:0px;
	position:absolute;
	left:50px;
	top:304px;
}
.e140_170 { 
	border:1px solid rgba(192.31249898672104, 192.31249898672104, 192.31249898672104, 1);
}
.e140_171 { 
	transform: rotate(0.000005008956130975318deg);
	width:1400px;
	height:0px;
	position:absolute;
	left:50px;
	top:1144px;
}
.e140_171 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e140_172 { 
	width:1256px;
	height:284px;
	position:absolute;
	left:122px;
	top:778px;
}
.e140_173 { 
	color:rgba(0, 0, 0, 1);
	width:287px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Open Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e140_174 { 
	color:rgba(0, 0, 0, 1);
	width:80px;
	height:28px;
	position:absolute;
	left:0px;
	top:68px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e140_175 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:28px;
	position:absolute;
	left:755px;
	top:68px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e140_176 { 
	color:rgba(0, 0, 0, 1);
	width:80px;
	height:28px;
	position:absolute;
	left:755px;
	top:148px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e140_177 { 
	color:rgba(0, 0, 0, 1);
	width:370px;
	height:28px;
	position:absolute;
	left:0px;
	top:228px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e140_178 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:28px;
	position:absolute;
	left:0px;
	top:146px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e140_179 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:28px;
	position:absolute;
	left:755px;
	top:228px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e140_180 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:500px;
	height:20px;
	position:absolute;
	left:1px;
	top:104px;
}
.e140_181 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:500px;
	height:20px;
	position:absolute;
	left:756px;
	top:104px;
}
.e140_182 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:500px;
	height:20px;
	position:absolute;
	left:1px;
	top:184px;
}
.e140_183 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:500px;
	height:20px;
	position:absolute;
	left:756px;
	top:184px;
}
.e140_184 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:500px;
	height:20px;
	position:absolute;
	left:1px;
	top:264px;
}
.e140_185 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:500px;
	height:20px;
	position:absolute;
	left:756px;
	top:264px;
}
.e140_186 { 
	background-color:rgba(0, 71.00000336766243, 171.00000500679016, 1);
	width:380px;
	height:20px;
	position:absolute;
	left:1px;
	top:104px;
}
.e140_187 { 
	background-color:rgba(39.00000147521496, 174.00000482797623, 96.00000187754631, 1);
	width:380px;
	height:20px;
	position:absolute;
	left:756px;
	top:104px;
}
.e140_188 { 
	background-color:rgba(0, 71.00000336766243, 171.00000500679016, 1);
	width:380px;
	height:20px;
	position:absolute;
	left:1px;
	top:184px;
}
.e140_189 { 
	background-color:rgba(39.00000147521496, 174.00000482797623, 96.00000187754631, 1);
	width:352px;
	height:20px;
	position:absolute;
	left:756px;
	top:184px;
}
.e140_190 { 
	background-color:rgba(39.00000147521496, 174.00000482797623, 96.00000187754631, 1);
	width:298px;
	height:20px;
	position:absolute;
	left:756px;
	top:264px;
}
.e140_191 { 
	background-color:rgba(0, 71.00000336766243, 171.00000500679016, 1);
	width:450px;
	height:20px;
	position:absolute;
	left:1px;
	top:264px;
}
.e140_193 { 
	transform: rotate(0.000005008956130975318deg);
	width:1400px;
	height:0px;
	position:absolute;
	left:50px;
	top:752px;
}
.e140_193 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e140_194 { 
	width:1328px;
	height:276px;
	position:absolute;
	left:122px;
	top:447px;
}
.e140_195 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:28px;
	position:absolute;
	left:0px;
	top:42px;
	font-family:Open Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e140_196 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:28px;
	position:absolute;
	left:756px;
	top:0px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e140_197 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:28px;
	position:absolute;
	left:923px;
	top:0px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e140_198 { 
	color:rgba(0, 0, 0, 1);
	width:407px;
	height:28px;
	position:absolute;
	left:921px;
	top:60px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e140_199 { 
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:28px;
	position:absolute;
	left:923px;
	top:124px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e140_200 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:28px;
	position:absolute;
	left:923px;
	top:186px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e140_201 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:28px;
	position:absolute;
	left:756px;
	top:62px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e140_202 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:28px;
	position:absolute;
	left:756px;
	top:124px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e140_203 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:28px;
	position:absolute;
	left:756px;
	top:186px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e140_204 { 
	color:rgba(0, 0, 0, 1);
	width:710px;
	height:182px;
	position:absolute;
	left:2px;
	top:94px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e140_205 { 
	width:1400px;
	height:280px;
	position:absolute;
	left:50px;
	top:87px;
}
.e140_206 { 
	background-color:rgba(0, 71.00000336766243, 171.00000500679016, 1);
	width:1400px;
	height:280px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.e140_209 { 
	color:rgba(255, 255, 255, 1);
	width:451px;
	height:28px;
	position:absolute;
	left:496px;
	top:126px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e140_210 { 
	color:rgba(255, 255, 255, 1);
	width:363px;
	height:51px;
	position:absolute;
	left:496px;
	top:60px;
	font-family:Dosis;
	text-align:left;
	font-size:40px;
	letter-spacing:5;
}
.e140_211 { 
	width:194px;
	height:40px;
	position:absolute;
	left:1255px;
	top:27px;
}
.e140_212 { 
	width:40px;
	height:40px;
	position:absolute;
	left:39px;
	top:0px;
	background-image:url(images/instagram.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_213 { 
	width:40px;
	height:40px;
	position:absolute;
	left:154px;
	top:0px;
	background-image:url(images/github.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_214 { 
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/linkedin.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_215 { 
	width:40px;
	height:40px;
	position:absolute;
	left:77px;
	top:0px;
	background-image:url(images/facebook.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_216 { 
	width:40px;
	height:40px;
	position:absolute;
	left:117px;
	top:0px;
	background-image:url(images/twitter.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_217 { 
	width:210px;
	height:20px;
	position:absolute;
	left:55px;
	top:37px;
}
.e140_218 { 
	color:rgba(0, 0, 0, 1);
	width:210px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Dosis;
	text-align:left;
	font-size:24px;
	letter-spacing:5;
}
.e146_226 { 
	width:250px;
	height:300px;
	position:absolute;
	left:160px;
	top:147px;
	background-image:url(images/whatsapp_image_2022_10_12_at_10_23_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
